<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <description>datasource configure</description>

    <context:property-placeholder location="classpath:xlbl.properties" ignore-resource-not-found="true"/>


    <bean id="pathMatchingResourcePatternResolver" class="org.springframework.core.io.support.PathMatchingResourcePatternResolver"/>
    <!--
         ===================================================================
     -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close">

        <property name="driverClassName" value="${hibernate.connection.driver_class}"/>
        <property name="url" value="${hibernate.connection.url}"/>
        <property name="username" value="${hibernate.connection.username}"/>
        <property name="password" value="${hibernate.connection.password}"/>
        <property name="initialSize" value="10"/>
        <property name="maxIdle" value="20"/>
        <property name="minIdle" value="5"/>
        <property name="maxTotal" value="200"/>
        <property name="maxWaitMillis" value="6000"/>
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
        <property name="testWhileIdle" value="true"/>
        <property name="validationQuery" value="SELECT 1"/>
        <property name="removeAbandonedOnBorrow" value="true"/>
        <property name="removeAbandonedOnMaintenance" value="true"/>
        <property name="removeAbandonedTimeout" value="180"/>
        <property name="logAbandoned" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="6000"/>
        <property name="minEvictableIdleTimeMillis" value="6000"/>
    </bean>

    <bean id="sessionFactory"
          class="com.tribeofspirit.common.hibernate.CustomLocalSessionFactoryBean">

        <!--
                <property name="lobHandler" ref="dbLobHandler"/>

        -->
        <property name="dataSource" ref="dataSource"/>
        <property name="namingStrategyDelegator">
            <bean class="com.tribeofspirit.common.hibernate.ModuleNamingStrategyDelegator" />
        </property>
        <property name="packagesToScan" value="com.tribeofspirit.**.domain.*"/>
        <!--<property name="mappingLocations" value="classpath*:/module/*/hibernate/*.xml" />-->
        <property name="entityInterceptor">
            <bean class="com.tribeofspirit.common.hibernate.SessionInterceptorDefault"/>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.connection.charSet">UTF-8</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <!--<bean id="dbLobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler" lazy-init="true"/>-->


    <!--
         ===================================================================
     -->
    <!--
         AOP: Configuration and Aspects
     -->
    <!--
         ===================================================================
     -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- Enable @AspectJ     support -->
    <!--<aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"/>-->
    <!--<aop:scoped-proxy  proxy-target-class="true"/>-->

    <!--
        &lt;!&ndash; Enable @Configured support &ndash;&gt;
        <aop:spring-configured/>
    -->

    <!-- Enable @Transactional support -->
    <!--<tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"/>-->

    <!--
        <aop:config proxy-target-class="true" expose-proxy="true">
            <aop:advisor id="controllerTx" advice-ref="txAdvice"
                         pointcut="execution(* com.sanlue.platform.core.web.controller.base.OrgController.*(..))" order="1"/>
            <aop:advisor id="serviceTx" advice-ref="txAdvice"
                         pointcut="execution(* com.sanlue.*.domain.service..*Service*.*(..))" order="2"/>
            <aop:advisor id="repositoryTx" advice-ref="txAdvice"
                         pointcut="execution(* com.sanlue.*.domain.repository..*Repository*.*(..))" order="3"/>
        </aop:config>
    -->
    <aop:config proxy-target-class="true" expose-proxy="true">
        <aop:pointcut id="txControllerPointcut" expression="execution(* com.tribeofspirit..web.controller..*.*(..))" />
        <aop:pointcut id="txServicePointcut" expression="execution(* com.tribeofspirit..domain.service..*.*(..))" />
        <aop:pointcut id="txRepositoryPointcut" expression="execution(* com.tribeofspirit..domain.repository..*.*(..))" />
        <aop:advisor pointcut-ref="txControllerPointcut" advice-ref="txAdvice" order="1"/>
        <aop:advisor pointcut-ref="txServicePointcut" advice-ref="txAdvice" order="2"/>
        <aop:advisor pointcut-ref="txRepositoryPointcut" advice-ref="txAdvice" order="3"/>
    </aop:config>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="create*" propagation="REQUIRED" read-only="false"/>
            <tx:method name="add*" propagation="REQUIRED" read-only="false"/>
            <tx:method name="insert*" propagation="REQUIRED" read-only="false"/>
            <tx:method name="save*" propagation="REQUIRED" read-only="false"/>
            <tx:method name="update*" propagation="REQUIRED" read-only="false"/>
            <tx:method name="delete*" propagation="REQUIRED" read-only="false"/>
            <tx:method name="remove*" propagation="REQUIRED" read-only="false"/>
            <tx:method name="*" propagation="SUPPORTS" read-only="true" />
        </tx:attributes>
    </tx:advice>
</beans>
